@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');

html {
    font-size: 20px;
    width: 100%;
}

h1 {
    font-family: 'Bona Nova', serif;
    font-size: 3.4rem;
    font-weight: 400;
}

h2 {
    font-family: 'Bona Nova', serif;
    font-size: 2.2rem;
    font-weight: 400;
}

h3 {
    font-family: 'Bona Nova', serif;
    font-size: 2.2rem;
    font-weight: 400;
}

p {
    font-family: 'Inter', serif;
    font-size: 1rem;
    font-weight: 300;
}

.first-p {
    font-family: 'Inter', serif;
    font-weight: 500;
}

.p-meny {
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 1.3rem;
}

.p-meny:hover {
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #9C8671;
}

body {
    background-color: #F2F1F0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7rem;
    align-items:center;
    background-color: #171717;
    padding: 1.6rem;
    color: #F2F1F0;
}

header nav {
    margin-right: 7.85rem;
}

@media screen and (min-width: 700px) {
    header {
        justify-content: space-between;
    }
}

header ul {
    display: none;
}

@media screen and (min-width: 700px) {
    header ul {
        list-style: none;
        display: flex;
        gap: 5rem;
    }
}

.hamburger {
    display: block;
}

@media screen and (min-width: 700px) {
    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    header {
        display: block;
        background-color: #171717;
    }
}

.logo {
    margin: 0 0 0 7.85rem;
    font-family: 'Bona Nova', serif;
    font-size: 2.4rem;
    font-weight: 400;
}

.header2 {
    position: absolute;
    left: 17.8rem;
    top: 52.9rem;
    color: #F2F1F0;
    animation-name: movein;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes movein {
    from {
        transform: translate(-600px);
    }

    to {
        transform: translate(0px);
    }
}

.big-image {
    background-color: #171717;
    height: 48.85rem;
    width: 100%;
}

.intro-container {
    font-family: 'Inter', serif;
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    left: 50%;
    top: 69.9rem;
    transform: translate(-50%,-50%);
    width: 49.25rem;
}

.image-2 {
    position: absolute;
    width: 14.05rem;
    left: 28.35rem;
    top: 92.65rem;
}

.image-1 {
    position: absolute;
    width: 25.6rem;
    left: 7.85rem;
    top: 88.3rem;
}

.header3-1 {
    position: absolute;
    left: 7.85rem;
    top: 119.15rem;
}

.paragraph-container-1 {
    position: absolute;
    width: 15.2rem;
    left: 11.15rem;
    top: 125.35rem;
}

.image-3 {
    position: absolute;
    width: 14.05rem;
    left: 28.3rem;
    top: 125.35rem;
}

.image-4 {
    position: absolute;
    width: 29.25rem;
    left: 7.85rem;
    top: 146.7rem;
}

.image-5 {
    position: absolute;
    width: 469px;
    left: 1102px;
    top: 2363px;
}

.image-6 {
    position: absolute;
    width: 264px;
    left: 970px;
    top: 2627px;
}

.image-7 {
    position: absolute;
    width: 512px;
    left: 962px;
    top: 3359px;
}

.image-8 {
    position: absolute;
    width: 281px;
    left: 1284px;
    top: 3454px;
}

.header3-2 {
    position: absolute;
    left: 1290px;
    top: 2893px;
}

.paragraph-container-2 {
    position: absolute;
    width: 208px;
    left: 1357px;
    top: 2997px;
}

.header3-3 {
    position: absolute;
    left: 157px;
    top: 4026px;
}

.paragraph-container-3 {
    position: absolute;
    width: 526px;
    left: 216px;
    top: 4136px;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 104px;
    margin-top: 5084px;
    position: relative;
    
}

.image-gallery {
    width: 378px;
}
